.page {
    min-height: 100vh;
    height: max-content;
    overflow-x: hidden;
}

.loader{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75px;
}